In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(filepath_or_buffer='data/auto.csv') 
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [63]:
from string import ascii_lowercase
df.index = list(ascii_lowercase[:len(df)])

ValueError: Length mismatch: Expected axis has 204 elements, new values have 26 elements

In [62]:
df.head(75)

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,-1,?,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184
71,3,142,mercedes-benz,gas,std,two,convertible,rwd,front,96.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,35056
72,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
73,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
74,1,?,mercury,gas,turbo,two,hatchback,rwd,front,102.7,...,140,mpfi,3.78,3.12,8.0,175,5000,19,24,16503

In [18]:
df.shape

(204, 26)

In [19]:
df.dtypes

3                int64
?               object
alfa-romero     object
gas             object
std             object
two             object
convertible     object
rwd             object
front           object
88.6           float64
168.8          float64
64.1           float64
48.8           float64
2548             int64
dohc            object
four            object
130              int64
mpfi            object
3.47            object
2.68            object
9.0            float64
111             object
5000            object
21               int64
27               int64
13495           object
dtype: object

In [20]:
df['alfa-romero']

0      alfa-romero
1      alfa-romero
2             audi
3             audi
4             audi
          ...
199          volvo
200          volvo
201          volvo
202          volvo
203          volvo
Name: alfa-romero, Length: 204, dtype: object

In [21]:
df[['alfa-romero']]

     alfa-romero
0    alfa-romero
1    alfa-romero
2           audi
3           audi
4           audi
..           ...
199        volvo
200        volvo
201        volvo
202        volvo
203        volvo

[204 rows x 1 columns]

In [12]:
df.loc[:, 'alfa-romero']

0      alfa-romero
1      alfa-romero
2             audi
3             audi
4             audi
          ...
199          volvo
200          volvo
201          volvo
202          volvo
203          volvo
Name: alfa-romero, Length: 204, dtype: object

In [29]:
df.loc[4, 'alfa-romero']

'audi'

In [30]:
df.loc[0:5, 'alfa-romero']

0    alfa-romero
1    alfa-romero
2           audi
3           audi
4           audi
5           audi
Name: alfa-romero, dtype: object

In [31]:
df.loc[3]

3                  2
?                164
alfa-romero     audi
gas              gas
std              std
two             four
convertible    sedan
rwd              4wd
front          front
88.6            99.4
168.8          176.6
64.1            66.4
48.8            54.3
2548            2824
dohc             ohc
four            five
130              136
mpfi            mpfi
3.47            3.19
2.68            3.40
9.0              8.0
111              115
5000            5500
21                18
27                22
13495          17450
Name: 3, dtype: object

In [32]:
df.loc[[1, 8], ['alfa-romero', 'gas']]

   alfa-romero  gas
1  alfa-romero  gas
8         audi  gas

In [47]:
df.iloc[70, 2]

'mercedes-benz'

In [48]:
df.iloc[1:3, 1]

1      ?
2    164
Name: ?, dtype: object

In [50]:
df.iloc[[1, 4], [1, 6]]

   ? convertible
1  ?   hatchback
4  ?       sedan